{% extends "main.html" %}
{% block content %}
    <i class="fa fa-circle circle-green" aria-hidden="true"></i>Server
    <h1>Hello, {{ username }}</h1>
    <button id = button>Statistic</button>
<script>
    $('#button').click(function() {
    $('#content > .content-message').remove();
        $.ajax({
            type: "GET",
            ifModified: true,
            url: "{{ url_for('load_ajax') }}",
            success: function (data) {
                data1 = JSON.parse(data);
                for (var i = 0; i<data1.length; i++){
                    $('#content').append(data1[i]);
                    $(".fa-circle").removeClass('circle-red');
                    $('.fa-circle').addClass('circle-green');
                }
            }
        });
        }
    )

</script>

{% endblock %}
